body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* remove custom margin */
    font-family: Roboto;
    height: 100%;
}
.container {
    width: 100%;
}
* {
    box-sizing: border-box;
}

/* Colums */
.col-1{width:8.33% ;}  
.col-2{width:16.66%;}  
.col-3{width:25% ;}  
.col-4{width:33.33%;}  
.col-5{width: 41.66%;}  
.col-6{width: 50%;}  
.col-7{width: 58.33%;}  
.col-8{width: 66.66%;}  
.col-9{width: 75%;}  
.col-10{width: 83.33%;}  
.col-11{width: 91.66%;}  
.col-12{width: 100%;} 

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* center the content in a row */
}

/* ########## Nav bar ########## */
.top-nav {
    height: 100%;
    width: 0px; /* This will slide into the web page  */
    /*  */
    position: fixed; /* sets to fixed when you scrolll */
    z-index: 1;  /* pushes this item in front of others  */
    top: 0; 
    left: 0;
    overflow-x: hidden;
    /* this overflow hides the content that displays */
    background: #ccc;
    transition: 1.0s; /* delay when the screen slides in  */
    padding-top: 20px;
    /* padding top on the sideBar */
    
}
header {
    background: #131313;
}
.top-nav a {
    /* Styles for the list */
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 21px;
    color: #583d3d;
    display: block;
    transition: 0.4s;
}
.top-nav a:hover {
    color:#fff;
}
.top-nav .closebtn {
    /* the corner X button */
    position: absolute;
    top:0;
    right: 15px;
    font-size: 36px;
    margin-left: 10px;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

/* ############### Header file ############## */
.backGround {
    height: 150vh;
    text-align: center;
    background: 
    url('../imgaes/BG_1.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* center Content in middle */
    font-size: 40px;
}
.center-content h1 {
    animation-name: fadeIn;
    animation-duration: 4s;
}
@keyframes fadeIn{
    0% {
        opacity: 0;
        color: #eee;
        transform: translateY(-150%);
    }
    50% {
        opacity: 0.5;
        /* transform: translate(100%); */
        color:#fff;
    }
    100% {
        opacity: 1;
        transition: ease-out;
        color:#fff;
    }
}

/* ########### About Section ############# */
 h2.head {
    font-size: 2em;
    padding:4% 2% 1% 2%;
    text-align: center;
}
.mid-line {
    /* width: 30%; */
    border-bottom: 1px solid rgb(37, 34, 34);
    width: 5%;
    transition: 1s ease-in;
    height: 10px;
    position: relative;
    top: 1%;
    background: rgb(37, 34,34);
    /* border: 1px solid red; */
}
.mid-line:hover {
    /* border-bottom: 2px solid #eee; */
    width:20%;
    transition: 0.7s ease-out;
    border: 1px solid rgb(37, 36, 36);
    padding: 0 20px;
    transform: translateY(-50%);
    
}
.img-me {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    transition: 1s;
    /* Styling my image */
}
.img-me:hover {
 opacity: 0.5;
 transition: 2s;
 background: rgb(179, 63, 63);  
  /* Properties when image is overed over  */
}
.aboutItem {
    margin: 1%;
    padding:1%; 
    /* create some space from all angles */
}
.content-main {
    background: rgb(150, 143, 197);
    width: 300px;
    padding: 2px;
    text-align: center
}
.content-main h3 {
    color:#fff;
    font-size: 1.5em;
}
.content-main ul {
    list-style: none;
    line-height: 16px;
    font-size: 1.1em;
}
.content-main ul li {
    line-height: 20px;
    font-weight: 400;
}

.intro {
    font-size: 1.5em;
    text-indent: 2%;
    color: #131313;
    font-weight: 600;
    /* Intro about myself styles */
}
.about {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* Want to add a background image or color */
}

/* ################## Projects Section    ############### */
.workItem figure img {
    width: 250px;
    height: auto;
    transition: 2s;
}
.workItem figure img:hover {
    transition: 2s;
    transform: translateX(-10%);
}
.workItem  {
    /* width: 30%; */
    background: #eee;
    padding: 10px;
}
.work {
    background: url('../imgaes/BG_2.jpg');
    height: 100vh;
    background-position: center;
    /* 2nd  */
}
/* ##############  Media Quries ############# */
@media screen and (max-height: 650px) {
    .top-nav {padding-top: 10px;}
    .top-nav a {font-size: 18px;}
  }
