body {
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    /* margin: auto; */
    
}
.slantedDivA {
/*    background: linear-gradient(to left, rgb(179, 73, 73) , rgba(173, 173, 34, 0.8));*/
    height: 100vh;
    width: 100%;
     background-size: cover; 
    background-image: url(/imgaes/BG_1.png);
    /* background: pink; */
    background-position: center;
    /* position: relative; */  
}
header {
    position: relative;
}
.center {
/*    top:50%;*/
    /* background: #a88e8a; */
    /* Animation on this class   */
    animation-name: moveInLeft;
    animation-duration: 2s;
}
/* Centering Text */
#titleText {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}
.about {
    margin: 1%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    transition: 2s;
}

nav.logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
}
nav a {
    /* list-style: none; */
    /* float: right; */
    margin: 0;
    padding: 0;
    /* display: flex; */
    line-height: 30px;
    color:#1515;
    background: #adf222;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    word-spacing: 50px;
}
nav ul li {
    display: inline-block;
    /* display inline */
}
nav ul li a {
    font-weight: 600;
    padding: 5px;
}
nav ul {
    /* display: inline-block; */
    list-style-type: none;

}
nav a:focus{
    outline: none;
}
nav a:active {
    background: #a88e8a;
    color: #fff;
    border-radius: 6px;
}
p h2 h3 {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
}

/*############ Animations #############*/
@keyframes moveInLeft {
    0%{
/*          Invisible in the beginning      */
        opacity: 0;
        transform: translateX(-100px);
    }
    
    50% {
        background: #eee;
    }
    
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
/*############ Animations #############*/

