
// ========================= variables  =================== //

$light-blue: #449DD1;
$my-spacing: 200px;

// =============== Base Styles ====================== //

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: unset;

    /* remove custom margin */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 100%;
    // max-width: 1$my-spacing;
}
a {
    text-decoration: none;
    color:#1591da;
    transition: 0.5s;
    font-size: 1.2em;
    &:hover {
        color: $light-blue;
    }
    // styling default links
}
p {
    font-weight: 500;
}
img {
    width: 100%;
    // makes image size of full container div
}
#myTopNav {
    float: left;

    
}

// logo styles
.logo {
    width: 60px;
    float: right;
    // clear: both;
}


/* Colums */
.col-1{width:8.33% ;}  
.col-2{width:16.66%;}  
.col-3{width:25% ;}  
.col-4{width:33.33%;}  
.col-5{width: 41.66%;}  
.col-6{width: 50%;}  
.col-7{width: 58.33%;}  
.col-8{width: 66.66%;}  
.col-9{width: 75%;}  
.col-10{width: 83.33%;}  
.col-11{width: 91.66%;}  
.col-12{width: 100%;} 

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* center the content in a row */
}

/* ########## Nav bar ########## */
.top-nav{
    display: inline;
    li {
    display: inline;

    }
}


header {
    background: #000000;
    height: 70px;
}

.top-nav a:hover {
    color:#fff;
}
.top-nav .closebtn {
    /* the corner X button */
    position: absolute;
    top:0;
    right: 15px;
    font-size: 36px;
    margin-left: 10px;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

main {
    
}
/* ############### Header file ############## */
.backGround {
    height: 71vh;
    text-align: center;
    background: url(https://giordifungula.github.io/GiordiFungula_CV/images/BG_1.jpg);
    background-repeat: no-repeat;
    // landing page background link from online 
}
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    // centers the content inside div
    transform: translate(-50%, -50%);
    /* center Content in middle */
    font-size: 32px;
     color: #ccc;
}

/* ########### About Section ############# */
 h2 {
     text-align: center;
     margin: 50px 0;
     margin-bottom: 30px;
     font-size: 40px;
     font-family: 'Courier New', Courier, monospace;
     transition: 1s;
     text-decoration:underline;
     &:hover{
     text-decoration:underline $light-blue;
     } 
 }
.aboutItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.center-icon i {
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    display: block;
    margin: 2px auto;
}
.intro-logo{
    i {
    font-size: 100px;
    overflow: hidden;
    }
    text-align: center;
    // display: block;
    // color:$light-blue;
    h3 {
        font-weight: 300;
    }
}

.intro-img {
    img {
        width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    // some space on the mobile view
    display: block;
    // margin: 0 auto;
    transition: 1s;
    /* Styling my image */
    }
    input{
        text-align: center;
        display: block;
        width: 100px;
        padding: 20px;
        border: none;
        background: $light-blue;
        font-size: 20px;
        color: #ccc;
        font-weight: 400;
        text-align: center;
        margin:0 auto;
        transition: 0.7s;
        &:hover {
            background: #000000;
            cursor: pointer;
        }
    }
    
    
}
.img-me:hover {
 opacity: 0.5;
 transition: 2s;
  /* Properties when image is overed over  */
}

.aboutItem {
    margin: 1%;
    padding:1%; 
    /* create some space from all angles */
}
// education section
.edu-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.content-main {
    background: $light-blue;
    // text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    padding:10px;
    margin: 5px;
}
.content-main h3 {
    color:#ccc;
    font-size: 1.6em;
    text-align: left;
}
.content-main ul {
    list-style: none;
}

.intro {
    font-size: 1.2em;
    text-indent: 2%;
    color:$light-blue;
    padding: 20px;
    text-align: center;
    /* Intro about myself styles */
}
.about {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* Want to add a background image or color */
    background: #eee;
}

/* ################ Projects Section    ############### */


.work {
    background:$light-blue;
    // adds a background of light blue
}
figure {
    margin: 0;
    // removes default spacing on tag
}
.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-gap: 10px;
    
    img {
        width: 100%;
        margin: 0 auto;
        // makes image 100% of screen and centers
    }
    
}
/* ################ Skills section ############### */
.skils {
    background: #eee;
    margin: 20px;
    // this adds space around skills section
}
.skill-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    i {
        font-size: 50px;
        text-align: center;
        margin: auto;
        overflow: hidden;

    }
    h5 {
        color: $light-blue;
        font-size: 1.2em;
    }
    p {
        grid-column: span 2;
        margin:10px;
    }
}

/* Skills section media querie */
@media only screen and (max-width: 750px){
    main .skill-item   {
        width: 100%;
        margin-top: 0;
        padding: 0;
        background: none;
    }
    .top-nav {
        // height: 100%;
        /*width: 0px;  This will slide into the web page  */
        /* 
        position: fixed; /* sets to fixed when you scrolll 
        z-index: 1;  /* pushes this item in front of others  
         
        top: 10px;  
        left: 0;
        overflow-x: hidden;
        this overflow hides the content that displays 
        background: #000000;
        transition: 0.4s; /* delay when the screen slides in  
        padding-top: 20px;
        /* padding top on the sideBar */
    }
}

/* ############## Contact Section ############ */
    input[type=text], select , textarea {
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
        margin-top: 5px;
        resize: vertical;
        margin-left: 15px;
    }
    #subject {
        // width: 80%;
    }
    input[type=submit] {
        background: $light-blue;
        padding: 5px 10px;
        border:none;
        border-radius: 4px;
        width: 60px;
        text-align: center;
        margin-left: 15px;
    }
    label {
        margin-left: 15px;
    }

/* ##############  Media Queries ############# */
// @media screen and (max-height: 650px) {
//     .top-nav {padding-top: 10px;}
//     .top-nav a {font-size: 18px;}
//   }
@media screen and (max-width: 750px) {
    .col-3 {
    width: 100%;
    text-align: center;
    /* display: block; */
    }
    /* Header section */
    .center-content {
        font-size: 25px;
    }
    /* Education section styles */
   
    /* About me image */
    .img-me {
        width: $my-spacing;
        height: $my-spacing;
    }
}
@media screen and (min-width: 601px){
    .aboutItem {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .edu-section {
        grid-template-columns: repeat(3, 1fr);
    }
    .intro-img{
        img {
            width: $my-spacing;
            height: $my-spacing;

            &:hover {
                opacity: 0.5;
            }
            
        }
        input {
            display: block;
            margin: 0 auto;
            // display: block;
            width: $my-spacing;
        }
        
    }
    .work-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        // grid-template-rows: auto-fit(4,1fr);

        .w-grid1 {
            // grid-column: span 2;
        }
        .w-grid2 {
            // background: #583d3d;
            // grid-row: 1 /span 1;

        }
        .w-grid3 {
            // grid-row: 2/span 1;
        }
    }
}
@media screen and(min-width: 768px) {
    .backGround {
       height: 100vh;
    }
    .top-nav {
        // background: #449DD1;
        // height:100px;
    }
    // .top-nav a {
    //     /* Styles for the list */
    //     padding: 5px 5px 5px 5px;
    //     text-decoration: none;
    //     font-size: 26px;
    //     color:$light-blue;
    //     display: block;
    //     transition: 0.3s;
    //     text-align: left;
    //     text-transform: uppercase;
    // }
}