* {
    box-sizing: border-box;
    overflow-x: hidden;
    
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* remove custom margin */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
}
.container {
    width: 100%;
    // max-width: 1200px;
}
a {
    text-decoration: none;
    color:#000000;
    transition: 1s;
    &:hover {
        color: #449DD1;
    }
}
img {
    width: 100%;
    // makes image size of full container div
}
#myTopNav {
    float: left;
}

// logo styles
.logo {
    width: 60px;
    float: right;
    // clear: both;
}


/* Colums */
.col-1{width:8.33% ;}  
.col-2{width:16.66%;}  
.col-3{width:25% ;}  
.col-4{width:33.33%;}  
.col-5{width: 41.66%;}  
.col-6{width: 50%;}  
.col-7{width: 58.33%;}  
.col-8{width: 66.66%;}  
.col-9{width: 75%;}  
.col-10{width: 83.33%;}  
.col-11{width: 91.66%;}  
.col-12{width: 100%;} 

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* center the content in a row */
}

/* ########## Nav bar ########## */
.top-nav {
    height: 100%;
    width: 0px; /* This will slide into the web page  */
    /*  */
    position: fixed; /* sets to fixed when you scrolll */
    z-index: 1;  /* pushes this item in front of others  */
    top: 0; 
    left: 0;
    overflow-x: hidden;
    /* this overflow hides the content that displays */
    background: #000000;
    transition: 0.4s; /* delay when the screen slides in  */
    padding-top: 20px;
    /* padding top on the sideBar */
    
}
header {
    background: #000000;
    height: 70px;
}
.top-nav a {
    /* Styles for the list */
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 26px;
    color:#449DD1;
    display: block;
    transition: 0.3s;
    text-align: left;
    text-transform: uppercase;
}
.top-nav a:hover {
    color:#fff;
}
.top-nav .closebtn {
    /* the corner X button */
    position: absolute;
    top:0;
    right: 15px;
    font-size: 36px;
    margin-left: 10px;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

/* ############### Header file ############## */
.backGround {
    height: 71vh;
    text-align: center;
    // background: rgb(211, 8, 8);
    background: url(/imgaes/BG_1.jpg);
    // background-position: center;
    // background-size: cover;
    
}
.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    // centers the content inside div
    transform: translate(-50%, -50%);
    /* center Content in middle */
    font-size: 32px;
     color: #ccc;
}

/* ########### About Section ############# */
 h2 {
     text-align: center;
     margin: 50px 0;
     font-size: 40px;
     font-family: 'Courier New', Courier, monospace;
 }
.aboutItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.intro-logo{
    i{
    font-size: 100px;
    overflow: hidden;
    }
    text-align: center;
    // display: block;
    // color:#449DD1;
    h3 {
        
    }
}
i {
    
}
.intro-img {
    width: 200px;
    height: 200;
    border-radius: 50%;
    margin: 0 auto;
    transition: 1s;
    /* Styling my image */
}
.img-me:hover {
 opacity: 0.5;
 transition: 2s;
  /* Properties when image is overed over  */
}
.aboutItem {
    margin: 1%;
    padding:1%; 
    /* create some space from all angles */
}
.content-main {
    background: rgb(150, 143, 197);
    width: 300px;
    padding: 2px;
    text-align: center
}
.content-main h3 {
    color:#fff;
    font-size: 1.5em;
}
.content-main ul {
    list-style: none;
    line-height: 16px;
    font-size: 1.1em;
}
.content-main ul li {
    line-height: 20px;
    font-weight: 400;
}

.intro {
    font-size: 1.2em;
    text-indent: 2%;
    color:#449DD1;
    font-weight: 600;
    padding: 20px;
    /* Intro about myself styles */
}
.about {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* Want to add a background image or color */
    background: #eee;
}

/* ################## Projects Section    ############### */
.workItem figure img {
    width: 250px;
    height: auto;
    transition: 2s;
}
.workItem figure img:hover {
    transition: 2s;
    transform: translateX(-10%);
}
.workItem  {
    /* width: 30%; */
    background: #eee;
    padding: 10px;
}
.work {
    background: url('../imgaes/BG_2.jpg');
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* 2nd  */
}
/* ################ Skills section ############### */
main .skill-item {
    width: 180px;
    height: 180px;
    background: #583d3d;
    text-align: center;
    padding-top: 40px;
    margin-top: 50%;
}
main .skill-item i{
    font-size: 4.5em;
    background: transparent;
    color: slateblue;
    transition: 0.5s;
}
main .skill-item i:hover {
    transform: translateX(-60%);
}
/* Skills section media querie */
@media only screen and (max-width: 750px){
    main .skill-item   {
        width: 100%;
        margin-top: 0;
        padding: 0;
        background: none;
    }
}

/* ############## Contact Section ############ */
    input[type=text], select , textarea {
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
        margin-top: 5px;
        resize: vertical;
        margin-left: 15px;
    }
    input[type=submit] {
        background: royalblue;
        padding: 5px 10px;
        border:none;
        border-radius: 4px;
        width: 60px;
        text-align: center;
        margin-left: 15px;
    }
    label {
        margin-left: 15px;
    }

/* ##############  Media Queries ############# */
// @media screen and (max-height: 650px) {
//     .top-nav {padding-top: 10px;}
//     .top-nav a {font-size: 18px;}
//   }
@media screen and (max-width: 750px) {
    .col-3 {
    width: 100%;
    text-align: center;
    /* display: block; */
    }
    /* Header section */
    .center-content {
        font-size: 25px;
    }
    /* Education section styles */
    .col-4, .content-main {
        width: 100%;
        background: darkslateblue;
    }
    /* About me image */
    .img-me {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 601px){
    .aboutItem {
        display: grid;
        grid-template-columns: repeat(3,1fr);

        
    }
}
@media screen and(min-width: 768px) {
    div.content-main {
        width: 250px;
        // margin: 1px;
        // padding: 2px;
    }
    .backGround {
    //    height: 100vh;
    }
}