// ============= Font ========================
@import url('https://fonts.googleapis.com/css?family=Roboto');



// =============== Base Styles ====================== //

* {
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    /* remove custom margin */
    font-family: 'Roboto', cursive;

}
.container {
    width: 100%;
    // max-width: 960px;
    // max-width: 1$my-spacing;
}
main {
    // max-width: 1200px;
    // margin: 0 auto;
}
a {
    text-decoration: none;
    color:#1591da;
    transition: 0.5s;
    font-size: 1.2em;
    &:hover {
        color: $light-blue;
    }
    // styling default links
}
p {
    font-weight: 500;
}
img {
    width: 100%;
    // makes image size of full container div
}
#myTopNav {
    float: left;
    // 
}

// logo styles
.logo {
    width: 60px;
    float: right;
    padding: 9px;
    // some space around the logo
    // clear: both;
}

// =========== Icons default ========== 
 i {
     overflow: hidden;
     transition: 0.5s;
     margin: 1em;
     &:hover {
         opacity: 0.5;
     }
 }

// columns

/* ########## Nav bar ########## */

.top-nav{
    transition: 0.9s;
    overflow: hidden;

    a {
        padding: 0 10px;
        // spacing around links
    }

}

header {
    background: #000000;
    padding: 10px;
}


.top-nav a:hover {
    background:#fff;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

main {
    margin: 0 auto;
    max-width: 1400px;
    // max width added to the main section
}


