// ============= Font ========================
@import url('https://fonts.googleapis.com/css?family=Roboto');



// =============== Base Styles ====================== //

* {
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    /* remove custom margin */
    font-family: 'Roboto', cursive;

}
.container {
    width: 100%;
    // max-width: 960px;
    // max-width: 1$my-spacing;
}
main {
    // max-width: 1200px;
    // margin: 0 auto;
}
a {
    text-decoration: none;
    color:#1591da;
    transition: 0.5s;
    font-size: 1.2em;
    &:hover {
        color: $light-blue;
    }
    // styling default links
}
p {
    font-weight: 500;
}
img {
    width: 100%;
    // makes image size of full container div
}
#myTopNav {
    float: left;
    // 
}

// logo styles
.logo {
    width: 60px;
    float: right;
    padding: 9px;
    // some space around the logo
    // clear: both;
}

// =========== Icons default ========== 
 i {
     overflow: hidden;
     transition: 0.5s;
     margin: 1em;
     &:hover {
         color: #fff;
     }
 }

// columns

/* ########## Nav bar ########## */

.top-nav{
    transition: 0.9s;
    overflow: hidden;

    a {
        padding: 0 10px;
        // spacing around links
    }

}

header {
    background: #000000;
    padding: 10px;
}


.top-nav a:hover {
    background:#fff;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

main {
    
}
// ===== Navigation Sticky Mode ====== //

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
  }
  .about + .sticky {
    padding-top: 3em;
    // 120px added when scrolled
}


  
/* ############### Header file ############## */
.backGround {
    height: 90vh;
    text-align: center;
    // background: url('/images/BG_1.jpg');
    background: url('https://giordifungula.github.io/GiordiFungula_CV/images/BG_1.jpg'),linear-gradient(to right, #1591da, #990f0f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-blend-mode: multiply;
    display: flex;
    // Flex the main container to center the content
   
    // landing page background link from online 
}
.center-content {
    /* =============== center Content in middle ============== */
    flex: 1 1 0;
    align-content: center;
    align-self: center;
    font-size: 2em;
     color: #ccc;

     .blank {
        display: inline-block;
     }

     p {
       animation: typing 10s steps(39) forwards,
       blink-caret .9s step-end infinite;
       border-right: 4px solid white;
       overflow: hidden;
       white-space: nowrap;
       animation-iteration-count: infinite;
     }

    //  =========== Arrow Section ===========
    .arrow-container {
        
        align-content: center;
        align-items: center;
        //  span inside arrow
        display: flex;
        flex-direction: column;        
        .arrow {
            overflow: hidden;
            margin: -1px;            
        }
        span {
            display: block;
            align-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid rgb(252, 252, 252);
            border-right: 2px solid #72bae4;
            transform:  rotate(45deg);
            margin: -1px;
            animation: animate 4s;
            animation-iteration-count: infinite;
            // overflow: hidden;   
            &:nth-child(1){
                animation-delay: -0.2s;
                transform: rotate(45deg) translate(-20px);
                // animation delay 
            }
            &:nth-child(2){
                animation-delay: .3s;
            }
        }
    }

}

// ============== Animation for Top Content Word ================== //
@keyframes blink-caret {
    from,
    to{ border-color: transparent; }
    50% { border-color: white };
}

@keyframes typing {
    0%{width: 0%}
    30%{width: 56%}
    80%{width: 10%}
    90%{width: 80%}
    100%{width: 100%}
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);

    };
    50%{
        opacity: 1;
        // transform: translateY(10px);
    };
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);                
    };
}

/*  ########### About Section ############# */
.about {
    padding: 2em;
    /* Want to add a background image or color */
    background: #eaeef0;
}
.heading {
    display: inline-flex;
    
    // heading and icon display in a row
    text-align: left;
}


// ===== Heading Sections
 h2 {
     text-align: left;
     margin: 0;
     font-size: 40px;
     font-family: 'Courier New', Courier, monospace;
     transition: 1s;
     text-decoration: underline;
     &:hover{
     text-decoration:underline $light-blue;
     } 
 }
.aboutItem {
    display: flex;
    // align-content: center;
    align-items: center;
    align-content: center;
    // margin: 1.5em;
    // Display every about item in a row on larger mobile

    .intro {
        // About item text
        font-size: 1.1em;
        // text-indent: -2%;
        color: $light-blue;
        // padding: 20px;
        text-align: left;
        padding: 0;
        /* Intro about myself styles */
        flex: 0.9;
    }
}

.intro-img {
    // margin: 0 auto;
    // margin: 10px;
    
    img {
        
        width: 150px;
        height: 150px;
        // some spacing on desktop around the image
        // border-radius: 30%;

        &:hover {
            opacity: 0.5;
        }

    display: block;
    // margin: 0 auto;
    transition: 1s;
    /* Styling my image */
    
  
}

.aboutItem {
    
    /* create some space from all angles */
}
// education section
.edu-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.content-main {
    background: $light-blue;
    // text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    padding:10px;
    margin: 5px;
}
.content-main h3 {
    color:#ccc;
    font-size: 1.6em;
    text-align: left;
}
.content-main ul {
    list-style: none;
}



/* ################ Projects Section    ############### */
// Animations
@keyframes slideIn {
    0% {
        transform: translateX(-110%);
    }
    50% {
        transform : translateX(-70%);
    }
    80% {
        transform : translateX(10%);
    }
}
.w-grid {
    // position: absolute;
   animation-name: slideIn;
   animation-duration: 4s;
//    animation: ease-in;
}
.work {
    background:$light-blue;
    // adds a background of light blue
}
figure {
    margin: 0;
    // removes default spacing on tag
}
.work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    grid-gap: 10px;
    
    img {
        width: 100%;
        margin: 0 auto;
        // makes image 100% of screen and centers
    }
    
}
/* ################ Skills section ############### */
.SkillSec {
    // background: #88000070;
    display: none;


}



/* ############## Contact Section ############ */
    input[type=text], select , textarea {
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
        margin-top: 5px;
        resize: vertical;
        margin-left: 15px;
    }
    #subject {
        // width: 80%;
    }
    input[type=submit] {
        background: $light-blue;
        padding: 5px 10px;
        border:none;
        border-radius: 4px;
        width: 60px;
        text-align: center;
        margin-left: 15px;
    }
    label {
        margin-left: 15px;
    }
}

