/* ########## Nav bar ########## */

.top-nav{
    transition: 0.9s;
    overflow: hidden;

    a {
        padding: 0 10px;
        // spacing around links
    }
    // display: inline;
    li {
    // display: inline;

    }
}

header {
    background: #000000;
    padding: 10px;
}

.top-nav a:hover {
    background:#fff;
}
.top-nav .closebtn {
    /* the corner X button */
    position: absolute;
    top:0;
    right: 15px;
    font-size: 36px;
    margin-left: 10px;
}

nav ul li{
    display: inline;
    text-anchor: none;
}

main {
    
}
// ===== Navigation Sticky Mode ====== //

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
  }
  .about + .sticky {
    // padding-bottom: 20em;
    // 120px added when scrolled
}


  
/* ############### Header file ############## */
.backGround {
    height: 90vh;
    text-align: center;
    // background: url('/images/BG_1.jpg');
    background: url('https://raw.githubusercontent.com/giordifungula/online-cv/master/images/bg-laptop.jpg'),linear-gradient(to right, #1591da, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-blend-mode: multiply;
    display: flex;
    // Flex the main container to center the content
   
    // landing page background link from online 
}
.center-content {
    /* =============== center Content in middle ============== */
    flex: 1 1 0;
    align-content: center;
    align-self: center;
    font-size: 2em;
     color: #ccc;

     .blank {
        display: inline-block;
     }

     p {
       animation: typing 10s steps(39) forwards,
       blink-caret .9s step-end infinite;
       border-right: 4px solid white;
       overflow: hidden;
       white-space: nowrap;
    //    animation-iteration-count: infinite;
     }

    //  =========== Arrow Section ===========
    .arrow-container {
        
        align-content: center;
        align-items: center;
        //  span inside arrow
        display: flex;
        flex-direction: column;

        .arrow {
            overflow: hidden;
            margin: -1px;            
        }
        span {
            display: block;
            align-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-bottom: 2px solid rgb(252, 252, 252);
            border-right: 2px solid #72bae4;
            transform:  rotate(45deg);
            margin: -1px;
            animation: animate 4s;
            animation-iteration-count: infinite;
            // overflow: hidden;   
            &:nth-child(1){
                animation-delay: -0.2s;
                transform: rotate(45deg) translate(-20px);
                // animation delay 
            }
            &:nth-child(2){
                animation-delay: .3s;
            }
        }
    }

}

// ============== Animation for Top Content Word ================== //
@keyframes blink-caret {
    from,
    to{ border-color: transparent; }
    50% { border-color: white };
}

@keyframes typing {
    0%{width: 0%}
    30%{width: 60%}
    80%{width: 100%}
    // 90%{width: 80%}
    // 100%{width: 100%}
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);

    };
    50%{
        opacity: 1;
        // transform: translateY(10px);
    };
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);                
    };
}

/*  ########### About Section ############# */
.about {
    // padding-top: 3em;
    /* Want to add a background image or color */
    // background: #eaeef0;
}
.heading {
    // display: block;
    align-content: center;
    // heading and icon display in a row
    text-align: center;
    padding-top: 3em;

    // ===== Heading Sections
    &:not(first-child){
    padding-top: 3em;
    }
    // ===== Line and heading === //
    .head {
        display: inline-flex;
        align-content: center;
        align-items: center;
        // center work between lines
        margin: 0;
    }
    // == line ==
    hr {
        width: 100px;
        height: 1px;
        border: 1px solid #000;
    }
    h2 {

        text-align: center;
        // color:#eee;    
        margin: 0;
        font-size: 2em;
        font-family: 'Courier New', Courier, monospace;
        transition: 1s;
        padding: 0.1em 0.5em ;

    }
    i {
        display: block;
        // display icons in a line
    }
}



.aboutItem {
    // display: inline-flex;
    text-align: center;
    // align-content: center;
    align-items: center;
    align-content: center;
    // margin: 1.5em;
    // Display every about item in a row on larger mobile

    .intro {
        // About item text
        font-size: 1.1em;
        line-height: 1.9;
        // padding: 0.2em;
        text-align: center;
        padding: 0em 3em;
        /* Intro about myself styles */
        // flex: 0.9;
    }
}

.intro-img {
    // margin: 0 auto;
    // margin: 10px;
    
    img {
        
        width: 150px;
        height: 150px;
        border-radius: 50%;
        // some spacing on desktop around the image
        // border-radius: 30%;

        &:hover {
            opacity: 0.5;
        }

    display: block;
    // margin: 0 auto;
    transition: 1s;
    /* Styling my image */
    
  
    }
}
  // ======= SKills Section ======== //
  .skills {
    padding: 2.5em;
    padding-top: 0;
    // ===== skills container ==== //   
 
    .skill-icons {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    
    // ===== skill Items =======     
    .skill-item {
        font-size: 3em;
        border: 1px solid #eee;
        text-align: center;

        &:hover {
            // ==== Hover over box
            border: 1.2px solid #eee;
            box-shadow: 2px;
            
        }

        i {
            &:hover {
                transform: scaleX(10deg);
                // color: #000000;     
              }
        }
        
        }
    }

}

/* ################ Education Section ############### */
.education {
    // display: none;
    padding: 2em;
    background: url('https://raw.githubusercontent.com/giordifungula/online-cv/master/images/bg-laptop.jpg'), linear-gradient(to left, #000, rgb(28, 94, 218));
    background-size: cover;
    background-attachment: fixed;
    color: #eee;
    // background: linear-gradient(to left, lightcoral, lightblue);
    // position: relative;
    // height: 100%;
    .edu-content {
        // background: #1591da;
        // display: flex;

        .edu-item {
            border: 2px solid #1591da;
            border-radius: 5px;
            max-width: 700px;
            margin: 10px auto;
            color:#eee;
            font-size: 1.2em;
            line-height: 1.4;
            padding: 0.5em;
            text-align: center;
        }
    }
}

// ============= Work Experience Section =============== 
.work-content {
    // display: block;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
    
    .work-item {
        // border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        // display: flex;
        text-align: center;

        .work-info {
        }
    }
    img {
        max-width:300px;
        height: auto;
    }
}


// =========== Projects Section ================= //
.work-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // width: 250px;
    margin: 1.5em;
    grid-gap: 10px;
    // some grid space around content

    img:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: 0.5s;
    }
}

// ===== Contact Section ===== //
.contact {
    position: relative;
    width: 100%;
    height: 400px;
    background: #1591da;

    &:before {
        // position: absolute;  
        // width: 50%;
        // height: 100px;
        content: '';
        background: #1591da;
        // top:10px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        // transform-origin: bottom left;
        // transform: skewY(-4deg);
    }
    .contact-info {
        text-align: center;
        
        .contact-icons {
            p {
                margin: 0;
            }
            a {
                color: #000000;
                // link to email 
            }
            
            i {
                // align-content: center;
            // align-items: center;
            // flex: 1;
            }
        }
    }
}
