/* ##############  Media Queries ############# */
// @media screen and (max-height: 650px) {
//     .top-nav {padding-top: 10px;}
//     .top-nav a {font-size: 18px;}
//   }

/* ============ Mobile Only Resonsive view ================  */
@media screen and (max-width: 680px){
    // Mobile Fonts
    .center-content {
        font-size: 1.5em;
        // decrease size

        p {
            animation: none;
            border: none;
            // remove animation on mobile
        }
    }
    .logo{
        display: none;
        // hide logo on mobile screen
    }
    header {
        ul {
            display: flex;
            // margin: 0;
            // display the list in one line on mobile
        }
    }
    
    .aboutItem {
        flex-direction: column;
        // view about items as columns on mobile screen
    }
    .work-grid {
        grid-template-columns: auto;
    }
}

@media (min-width: 601px){
    .aboutItem {
        // display: none;
    }
    
        input {
            display: block;
            margin: 0 auto;
            // display: block;
            width: $my-spacing;
        }
        
    }

@media screen and(min-width: 768px) {
    .backGround {
    //    height: 100vh;
    }
    .top-nav {
        // background: #449DD1;
        // height: 100px;
    }
    // .top-nav a {
    //     /* Styles for the list */
    //     padding: 5px 5px 5px 5px;
    //     text-decoration: none;
    //     font-size: 26px;
    //     color:$light-blue;
    //     display: block;
    //     transition: 0.3s;
    //     text-align: left;
    //     text-transform: uppercase;
    // }
}
